@model TurboMatterManagement.Models.MatterDocument

@{
    ViewBag.Title = "Matter Documents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Matter: @Html.DisplayFor(model => model.Number)</h2>

<table>
    <tr>
        <td class="tabx-non-active">Details</td>
        <td class="tabx-non-active">Organizations</td>
        <td class="tabx-active">Documents</td>
    </tr>
</table>
<br />

@Html.ActionLink("Add", "AddMatterDocument", "Matter")

@if (Model.AddDocument)
{
    Html.RenderPartial("AddMatterDocument", new TurboMatterManagement.Models.DocumentBasicInfo());
}
else
{
    <table class="table">
        <tr>
            <th>Document Name</th>
            <th>Content Type</th>
            <th>Create Date</th>
            <th>Action</th>
        </tr>
        @if (Model.Documents != null && Model.Documents.Any())
        {
            foreach (var item in Model.Documents)
            {
                <tr>
                    <td>@Html.ActionLink(item.FileName, "OpenMatterDocument", new { id = item.Id }, new { onclick = string.Format("window.open('/Matter/OpenMatterDocument/{0}', '_blank');return false", item.Id) })</td>
                    <td>@Html.DisplayFor(modelItem => item.ContentType)</td>
                    <td>@Html.DisplayFor(modelItem => item.CreateDate)</td>
                    <td>@Html.ActionLink("Remove", "DeleteMatterDocument", new { id = item.Id }, new { onclick = "return confirm('Are you sure you want to remove this document?');" })</td>
                </tr>
            }
        }
    </table>
}
<br />
@using (Html.BeginForm("Documents", "Matter", FormMethod.Post))
{
    <input type="submit" value="Save" name="btnSave" class="btn btn-default" />
    <input type="submit" value="Previous" name="btnPrevious" class="btn btn-default" />
    <input type="button" value="Cancel" name="btnCancel" class="btn btn-default" onclick="location.href='@Url.Action("List", "Matter")'" />
}



